{% extends '@layout/default.html.twig' %}

{% block title %}Создание поездки{% endblock %}

{% block content %}
    <h1>Создание поездки</h1>
    <div class="alert alert-success" role="alert" style="display: none"></div>
    <div class="alert alert-danger" role="alert" style="display: none"></div>
    <form action="{{ path() }}" method="post" id="form">

        <div class="form-group">
            <label class="form-control-label" for="region">Регион</label>
            <select id="region" name="region" class="form-control">
                <option></option>
                {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="subject">Курьер</label>
            <select id="courier" name="courier"  class="form-control">
                <option></option>
                {% for courier in couriers %}
                    <option value="{{ courier.id }}">{{ courier.fullName }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="departureDate">Дата выезда из Москвы</label>
            <input type="text" id="departureDate" name="departureDate" placeholder="Дата выезда из Москвы"
                   autocomplete="off"
                   data-provide="datepicker"
                   data-date-format="dd.mm.yyyy"
                   class="form-control"/>
            <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="arrivalDate">Дата прибытия в регион</label>
            <input type="text" id="arrivalDate" name="arrivalDate" placeholder="Дата прибытия в регион"
                   autocomplete="off"
                   disabled
                   class="form-control"/>
            <div class="invalid-feedback"></div>
        </div>

        <button type="submit" id="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}

{% block javascript %}
function validate()
{
    let region = $('#region').val();
    let departureDate = $('#departureDate').val();
    if (region && departureDate) {
        $.ajax({
            type: "POST",
            url: "/arrival",
            data: {'region': region, 'departureDate': departureDate},
            dataType: 'json',
            success: (data) => {
                $('#arrivalDate').val(data);
            },
            error: (response) => {
                let errors = JSON.parse(response.responseText);
                $('.alert-danger').text(errors.error.message).show();
            }
        });
    }
}
$(document).ready(function () {
    $('#region').select2({placeholder: 'Выбрать регион'});
    $('#courier').select2({placeholder: 'Выбрать курьера'});
    $('select, input').change(function () {
        validate()
    });
    $("#form").submit(function(event) {
        event.preventDefault();
        $('.alert-success').hide();
        $('.alert-danger').hide();
        $('#form').find('.form-control').removeClass('is-invalid');
        let form_data = $("#form").serialize();
        $("#submit").prop('disabled', true);
        $.ajax({
            type: "POST",
            url: $("#form").attr("action"),
            data: form_data,
            dataType: 'json',
            success: (travel) => {
                $('.alert-success').text("Создана поездка в регион " + travel.region + " с " + travel.departure_date + " по " + travel.arrival_date).show();
                $("#submit").prop('disabled', false);
            },
            error: (response) => {
                if (response.status === 422) {
                    let errors = JSON.parse(response.responseText);
                    console.error(errors);
                    $.each(errors, function (field, error) {
                        let input = $('#' + field);
                        input.addClass('is-invalid');
                        input.parent().find('.invalid-feedback').text(error);
                    });
                } else {
                    let errors = JSON.parse(response.responseText);
                    $('.alert-danger').text(errors.error.message).show();
                }
                $("#submit").prop('disabled', false);
            }
        });
    });
});
{% endblock %}
