{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Расписание</h1>
    <p>
        <a class="btn btn-primary" href="{{ url('form') }}">Создать поездку</a>
    </p>
    <form class="form-inline">
        <p>
            Дата отправления
        </p>
        <input name="dateFrom" type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
               value="{{ dateFrom }}" autocomplete="off"
               placeholder="Дата отправления от" data-provide="datepicker" data-date-format="dd.mm.yyyy">
        <input name="dateTo" type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
               value="{{ dateTo }}" autocomplete="off"
               placeholder="Дата отправления до" data-provide="datepicker" data-date-format="dd.mm.yyyy">
        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ФИО</th>
            <th scope="col">Регион</th>
            <th scope="col">Отправление</th>
            <th scope="col">Прибытие</th>
        </tr>
        </thead>
        <tbody>
        {% for travel in dataProvider %}
            <tr>
                <th scope="row">{{ travel.id }}</th>
                <td>{{ travel.courier.fullName }}</td>
                <td>{{ travel.region.name }}</td>
                <td>{{ travel.departureDate|date("d.m.Y") }}</td>
                <td>{{ travel.arrivalDate|date("d.m.Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {% if dataProvider.page - 3 > 0 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url('home', {}, {'page': 1}) }}">1</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">...</a>
                </li>
            {% endif %}
            {% if dataProvider.page - 2 > 0 %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url('home', {}, {'page': dataProvider.page - 2}) }}">{{ dataProvider.page - 2 }}</a>
                </li>
            {% endif %}
            {% if dataProvider.page - 1 > 0 %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url('home', {}, {'page': dataProvider.page - 1}) }}">{{ dataProvider.page - 1 }}</a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ dataProvider.page }} <span class="sr-only">(current)</span></a>
            </li>
            {% if dataProvider.page + 1 <= dataProvider.pageCount %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url('home', {}, {'page': dataProvider.page + 1}) }}">{{ dataProvider.page + 1 }}</a>
                </li>
            {% endif %}
            {% if dataProvider.page + 2 <= dataProvider.pageCount %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url('home', {}, {'page': dataProvider.page + 2}) }}">{{ dataProvider.page + 2 }}</a>
                </li>
            {% endif %}
            {% if dataProvider.page + 3 <= dataProvider.pageCount %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url('home', {}, {'page': dataProvider.pageCount}) }}">{{ dataProvider.pageCount }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <p>Всего: {{ dataProvider.count }}</p>
{% endblock %}
